@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Purple+Purse&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "PT Sans", sans-serif;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 110px;
}

h1,
h2,
h3 {
	font-family: "PT Serif";
}

body {
	min-height: 100vh;
	background: #030303;
	overflow: auto;
}

body::-webkit-scrollbar {
	background: transparent;
	width: 8px;
	border-left: 1px solid #dea151;
}

body::-webkit-scrollbar-thumb {
	background: linear-gradient(to right, #dea151, #f0d385);
}

body.body-fixed {
	overflow: hidden;
}

.container {
	max-width: 1260px;
	padding: 0 10px;
	margin: 0 auto;
}

.special-text {
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-box-decoration-break: clone;
	background-image: linear-gradient(to left, #dea151, #f0d385);
}

.btn {
	background: linear-gradient(to right, #dea151, #f0d385);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	text-decoration: none;
	color: black;
	font-size: 16px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	width: 250px;
	border-radius: 50px;
	font-weight: 600;
}

/* Header */

.header__wrapper {
	padding: 15px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}

.header__logo {
	font-family: "Purple Purse", serif;
	font-size: 26px;
	text-decoration: none;
	color: white;
}

.header__wrapper nav {
	display: flex;
	align-items: center;
	gap: 35px;
}

.header__wrapper nav a {
	font-size: 18px;
	color: white;
	text-decoration: none;
}

.header__wrapper nav a:hover {
	color: #f0d385;
}

.mobile__dropdown {
	display: none;
}

/* 
#DEA151
#F0D385
*/

.header__wrapper .dropdown {
	position: relative;
	z-index: 99;
}

.header__wrapper .dropdown__content {
	position: absolute;
	display: none;
	padding-top: 10px;
	left: 50%;
	transform: translate(-50%);
}

.dropdown__content-wrapper {
	padding: 10px 20px;
	border-radius: 10px 10px 10px 10px;
	border: 1px solid #dea151;
	background: #111111;
	display: flex;
	flex-direction: column;
	gap: 10px;
	text-align: center;
}

.header__wrapper .dropdown:hover .dropdown__content {
	display: block;
}

.header__burger {
	width: 40px;
	height: 30px;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	background: linear-gradient();
	cursor: pointer;
}

.header__burger figure {
	height: 4px;
	background: linear-gradient(to right, #dea151, #f0d385);
	transition: all 0.3s;
}

.header__burger.active figure:nth-child(1) {
	transform: translate(0, 12px) rotate(45deg);
}

.header__burger.active figure:nth-child(2) {
	transform: translate(10px);
	width: 0;
}

.header__burger.active figure:nth-child(3) {
	transform: translate(0, -13px) rotate(-45deg);
}

/* Hero */

.hero {
	color: white;
}

.hero__wrapper {
	height: calc(100vh - 68px);
	display: flex;
	align-items: center;
	gap: 60px;
}

.hero__wrapper h1 {
	font-size: 48px;
	line-height: 54px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.hero__wrapper .btn {
	margin-top: 60px;
	height: 50px;
	width: 280px;
	line-height: 50px;
}

.hero__wrapper-content {
	max-width: 580px;
}

.hero__wrapper-image {
	height: fit-content;
	width: 50%;
}

.hero__wrapper-image img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	object-position: right bottom;
	border-radius: 0 0 20px 20px;
}

.about {
	margin: 120px 0;
}

.about__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	gap: 30px;
}

.about__photo {
	width: calc(50% - 15px);
	height: auto;
	flex-shrink: 0;
}

.about h2 {
	font-size: 36px;
	margin-bottom: 20px;
}

.about p {
	margin: 10px 0;
	font-size: 16px;
}

.about .btn {
	margin-top: 30px;
}

.about__photo img {
	width: 100%;
	height: auto;
}

/* services */

.services {
	margin: 120px 0;
	position: relative;
}
.services__union {
	position: absolute;
	right: 50px;
	bottom: 50px;
	z-index: -1;
}

.services h2 {
	color: white;
	text-align: center;
	font-size: 36px;
	margin-bottom: 40px;
}
.services__list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	flex-wrap: wrap;
}
.services__list-item {
	display: block;
	text-decoration: none;
	color: white;
	font-size: 24px;
	width: 300px;
	height: 300px;
	padding: 30px;
	transition: all 0.3s;
}

.services__list-wrapper:nth-child(1) .services__list-item {
	background: url("./assetss/img/1.png") center center / cover no-repeat;
}
.services__list-wrapper:nth-child(2) .services__list-item {
	background: url("./assetss/img/4.png") center center / cover no-repeat;
}
.services__list-wrapper:nth-child(3) .services__list-item {
	background: url("./assetss/img/5.png") center center / cover no-repeat;
}
.services__list-wrapper:nth-child(4) .services__list-item {
	background: url("./assetss/img/3.png") center center / cover no-repeat;
}
.services__list-wrapper:nth-child(5) .services__list-item {
	background: url("./assetss/img/2.png") center center / cover no-repeat;
}
.services__list-content {
	border: 2px solid black;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
}

.services__list-item:hover {
	padding: 0;
}

.services__list-wrapper {
	overflow: hidden;
	width: 300px;
	height: 300px;
}

.services__list-wrapper:hover .services__list-item {
	transform: scale(1.1);
}

.services__list-item:hover .services__list-content {
	border: 1px solid transparent;
}

.footer__wrapper {
	padding: 80px 0;
	border-top: 1px solid #dea151;
	text-align: center;
}

.footer__wrapper .footer__map {
	color: white;
	text-decoration: none;
	font-size: 16px;
}

.footer__wrapper .btn {
	margin: 20px auto;
}

/* slider */
.slider {
	user-select: none;
	margin: 40px 0 120px 0;
}

.slider h2 {
	font-size: 36px;
	margin-bottom: 40px;
	color: white;
	text-align: center;
}

.slider .swiper-slide {
	height: 340px !important;
}

.slider .swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider .swiper-wrapper {
	padding-bottom: 40px;
}

.slider .swiper-pagination-bullet {
	background: white;
}

.slider .swiper-pagination-bullet-active {
	background: #dea151 !important;
}

.masters {
	margin: 120px 0;
	color: white;
}

.masters h2 {
	font-size: 36px;
	text-align: center;
	margin-bottom: 40px;
}

.masters__list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 60px;
}

.masters h3 {
	font-size: 20px;
	font-style: italic;
	height: 53px;
}
.masters p {
	font-size: 16px;
}

.masters__list-item {
	max-width: 360px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.prices {
	margin: 120px 0;
	color: white;
}
.prices h2 {
	font-size: 36px;
	text-align: center;
	margin-bottom: 40px;
}

.prices__wrapper {
	border: 1px solid white;
	display: flex;
	border-collapse: collapse;
	width: fit-content;
	margin: 0 auto;
	font-size: 18px;
}

.prices__labels {
	width: 300px;
	flex-shrink: 0;
	border: 1px solid white;
}

.prices__labels-top {
	border: 1px solid white;
	height: 60px;
	line-height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
	overflow: hidden;
}

.prices__labels-top::after {
	position: absolute;
	content: "";
	display: block;
	width: 1px;
	height: 140%;
	background: white;
	transform: rotate(45deg);
}

.prices__labels-item {
	text-align: center;
	padding: 0 15px;
	height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.prices__content td {
	height: 60px;
	width: 300px;
	border-right: 1px solid white;
	line-height: 60px;
	border-left: 1px solid white;
	text-align: center;
}

.prices__content tr:first-child td {
	border: 1px solid white;
	height: 60px;
	font-style: italic;
	font-weight: 700;
}

.special-service {
	height: 80px !important;
	padding: 0 5px;
}

@media all and (max-width: 1024px) {
	.hero__wrapper {
		flex-direction: column;
		text-align: center;
		height: auto;
		padding-top: 60px;
	}
	.hero__wrapper .btn {
		margin: 0 auto;
		margin-top: 40px;
	}
	.hero__wrapper-image {
		height: 100%;
		width: auto;
	}

	.hero__wrapper-image img {
		object-position: center bottom;
	}
	.about__wrapper {
		flex-direction: column;
		text-align: center;
	}
	.about .btn {
		margin: 30px auto 0 auto;
	}
	.masters__list {
		flex-wrap: wrap;
		gap: 30px;
		text-align: center;
	}
}

@media all and (max-width: 980px) {
	.header__burger {
		display: flex;
		z-index: 100;
	}

	.header__logo {
		position: relative;
		z-index: 82;
	}

	.header__wrapper nav {
		position: absolute;
		transition: all 0.3s;
		top: 0;
		left: -150%;
		width: 100%;
		height: 100%;
		background: black;
		flex-direction: column;
		justify-content: center;
		gap: 45px;
		z-index: 80;
		box-shadow: 1px 1px 6px rgba(26, 26, 26, 0.59);
	}

	.header__wrapper nav a {
		font-size: 22px;
		text-align: center;
		display: block;
	}

	.header__wrapper .btn {
		position: relative;
		z-index: 10;
		margin-left: auto;
	}
	.header__wrapper nav.active {
		left: 0;
	}

	.dropdown {
		display: none;
	}

	.mobile__dropdown {
		display: block;
		color: white;
		font-size: 22px;
	}

	.details__content {
		text-align: left;
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-top: 25px;
		max-height: 0px;
		overflow: hidden;
		transition: all 0.3s;
	}

	.mobile__dropdown summary {
		display: flex;
		gap: 10px;
	}

	.mobile__dropdown span {
		transition: all 0.3s;
		display: block;
	}

	.mobile__dropdown[open] span {
		transform: rotate(180deg);
	}

	.mobile__dropdown[open] .details__content {
		max-height: 300px;
	}

	.mobile__dropdown > summary::marker {
		display: none;
	}

	.mobile__dropdown > summary::-webkit-details-marker {
		display: none;
	}
	.mobile__dropdown > summary {
		list-style: none;
	}
	.mobile__dropdown > summary::-webkit-details-marker {
		display: none;
	}
}

.prices__help {
	display: none;
}

@media all and (max-width: 640px) {
	.prices__help {
		display: block;
		padding: 0 30px;
		text-align: center;
		font-size: 16px;
		margin-bottom: 20px;
	}
	.prices h2 {
		margin-bottom: 20px;
	}
	.prices {
		overflow: hidden;
	}
	.prices__content {
		width: calc(50vw - 10px);
		overflow: auto;
	}
	.prices__content td {
		padding: 0 10px;
		width: calc(50vw - 10px) !important;
	}
	.prices__content table {
		/* width: calc(50vw - 10px) !important; */
		width: max-content;
		table-layout: fixed;
	}
	.prices__labels {
		width: calc(50vw - 10px);
		font-size: 14px;
	}

	.masters h3 {
		height: auto;
	}

	html {
		scroll-behavior: smooth;
		scroll-padding-top: 50px;
	}
	.hero__wrapper {
		padding-top: 40px;
		gap: 40px;
		padding-bottom: 40px;
	}
	.header__wrapper .btn {
		display: none;
	}
	.hero__wrapper h1 {
		font-size: 30px;
		line-height: 38px;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.hero__wrapper-content p:first-child {
		display: none;
	}
	.hero__wrapper-content {
		order: 2;
	}
	.hero__wrapper-image {
		order: 1;
	}
	.hero__wrapper-image img {
		border-radius: 0 0 10px 10px;
	}
	.about__photo {
		width: 100%;
	}
	h2 {
		font-size: 28px !important;
	}
	.slider .swiper-slide {
		height: 400px !important;
	}
	.special-service {
		height: 80px !important;
		padding: 0 5px;
		font-size: 12px;
	}
}
